.pf-c-divider.ws-icons-divider {
  margin: 48px 0;
}

.ws-icon-recommendations tbody {
  vertical-align: top;
}

#ws-icons-recommendations i {
  width: 24px;
  display: inline-block;
  padding-right: 8px;
}
